*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container
{
    position:relative ;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior:smooth ;
    scroll-snap-type: y mandatory;
}

.sec{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#44f;
    mix-blend-mode: multiply;
    scroll-snap-align: center ;
}

h3 {
    color: #fff;
    font-size: 10vw;
    text-align: center;
    margin: 0 50px;
    border: 5px solid #f11;
}
.sec:nth-child(1){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgb(68, 170, 255, 0.3) url(https://telegra.ph/file/1e4da73a52f4ad9f6289b.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;

}

.sec:nth-child(2){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgb(255, 252, 68) url(https://telegra.ph/file/0dc9c0b2d026524364e09.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(3){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgb(68, 255, 230, 0.1) url(https://telegra.ph/file/973bd20554d1ff3e67dda.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(4){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgb(68, 81, 255, 0.1) url(https://telegra.ph/file/4ab260d4313cb371e7ff3.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(5){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgba(68, 255, 68, 0.3) url(https://telegra.ph/file/446513d043a52ff8a7f19.png);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(6){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgba(255, 68, 183, 0.1) url(https://telegra.ph/file/4e9e6804b43f13d1b29be.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(7){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: url(https://telegra.ph/file/07a1886c42ffe92ae1565.png);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.sec:nth-child(9){
    
    /*background: #f00 url(https://via.placeholder.com/600x500/000011/ff0000?text=Joan+Blanco);
    */
    background: rgb(138, 137, 124) url(https://telegra.ph/file/1e4da73a52f4ad9f6289b.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-blend-mode: multiply;
}
.content{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.content h2{
    position: relative;
    display: flex;
    justify-content: center;
}
.content h2 span{
    position: sticky;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: #fff;
    font-size: 14vw;
    margin-top: calc(100vh * var(--i));
}